body{
    background-color:ffe5e5;
  }
  .jumbotron{
    background-color:transparent;
    position:absolute;
    top:-1.5em;
    left:-1em;
  }
  #topOPage{
    height:8em;
    width:100%;
    background-color:purple;
  }
  ul {
    /* list-styletype:none; */
    margin:0;
    padding:0;
    overflow:hidden;
    float:right;
    ;
  }
  li{
    display:inline-block;
    /* float:left; */
    text-align:center;
    padding:1em;
    position:relative
  }
  
  /* .dragonOfTheWeek{ */
    
  /* } */
  
  /* #dOW{ */
  /* } */
  
  